@import "../../constants/colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logoSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.logo {
  width: 20px;
  object-fit: contain;
  margin-right: 5px;
}
