@import "../../constants/colors.scss";

.customButton {
  padding: 8px 20px !important;
  overflow: hidden !important;
  width: 100%;
  border-width: 1px !important;
  border-style: solid !important;

  &::before {
    position: absolute !important;
    content: "" !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: linear-gradient(
      120deg,
      transparent,
      hsl(196, 78%, 61%),
      transparent
    ) !important;
    transform: translateX(-100%) !important;
    transition: 0.6s !important;
  }

  &:hover {
    background: transparent !important;
    box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5) !important;

    &::before {
      transform: translateX(100%) !important;
    }
  }
}
